@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Orbitron";
  src: url("../assets/Fonts/Orbitron.ttf") format("truetype");
}

@font-face {
  font-family: "TabletopTavern";
  src: url("../assets/Fonts/Metamorphous.ttf") format("truetype");
}

@font-face {
  font-family: "Barkpups";
  src: url("../assets/Fonts/Sniglet.ttf") format("truetype");
}

@font-face {
  font-family: "OGAS";
  src: url("../assets/Fonts/Exoplanetaria.ttf") format("truetype");
}

@font-face {
  font-family: "OGAS-TITLE";
  src: url("../assets/Fonts/Assiduous.ttf") format("truetype");
}

:root {
  --small-shadow: 6px;
  --big-shadow: 30px;
}

body {
  padding: 10px 10px 0px 10px;
  box-sizing: border-box;
  overflow: hidden;
}

body.dark-mode::before {
  background-image: url("../assets/BGs/shubham-dhage-4CUBE.jpg");
}

body.light-mode::before {
  background-image: url("../assets/BGs/shubham-dhage-4CUBE-LM.jpg");
}

body::before {
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  opacity: 1;
  content: "";
  position: absolute;
  top: 0px;
  left: 0px;
  height: 100%;
  width: 100%;
}

.img-width-90 {
  max-width: 90%;
}

.trapezoid-b {
  --trap-width: 500px;
  --trap-height: 100px;
  clip-path: polygon(
    var(--trap-height) 0%,
    calc((var(--trap-width) - var(--trap-height))) 0%,
    var(--trap-width) 100%,
    0px 100%
  );
  max-height: var(--trap-height);
  max-width: var(--trap-width);
  border-width: 9px;
  border-style: solid;
  flex-direction: column;
  font-family: "Orbitron", "Roboto", sans-serif;
  filter: drop-shadow(
    calc(var(--small-shadow) / 2) var(--small-shadow) 1px
      rgba(255, 255, 255, 0.2)
  );
}

.trapezoid-s {
  --trap-width: 500px;
  --trap-height: 94px;
  clip-path: polygon(
    var(--trap-height) 0%,
    calc((var(--trap-width) - var(--trap-height))) 0%,
    var(--trap-width) 100%,
    0px 100%
  );
  height: var(--trap-height);
  width: var(--trap-width);
  flex-direction: column;
  position: relative;
  top: -6px;
  left: -5px;
}

.dark-mode .trapezoid-s {
  border: solid 3px rgb(0, 0, 0);
}

.light-mode .trapezoid-s {
  border: solid 3px rgb(255, 255, 255);
}

.TITLE {
  font-size: 30px;
}

.BIG.TITLE {
  font-size: 36px;
}

.SUBTITLE {
  font-size: 15px;
}

.BIG.SUBTITLE {
  font-size: 18px;
}

/* TRIANGLE STUFF */

.triangle-container {
  perspective: 400px;
}

.triangle-wrap {
  filter: drop-shadow(
    calc(var(--small-shadow) / 2) var(--small-shadow) 1px rgb(34, 37, 43, 0.5)
  );
}

.triangle-top-left {
  position: absolute;
  top: 0px;
  left: 0px;
}

.triangle-top-right {
  position: absolute;
  top: 0px;
  right: -20px;
}

.static {
  z-index: -1;
}

.triangle-top-left,
.triangle-top-right {
  width: 120px;
  height: 120px;
}

.triangle-inner {
  width: 75%;
  height: 75%;
}

.top-left .triangle-container {
  transform-origin: top left;
  transition: transform linear 1s;
}

.top-right .triangle-container {
  transform-origin: top left;
  transition: transform linear 1s;
}

.triangle-top-left,
.triangle-top-left .triangle-inner {
  clip-path: polygon(0 0, 100% 0, 0 100%);
  transform-origin: center;
}

.TRT {
  transform-origin: center;
  transform: rotateY(180deg);
}

.triangle-top-right,
.triangle-top-right .triangle-inner {
  clip-path: polygon(0 0, 100% 0, 0 100%);
  transform-origin: center;
}

.triangle-container {
  width: 100px;
}

.triangle-wrap:hover .triangle-container {
  transform: scale(1.5);
}

.triangle-wrap:hover .turn.inner,
.turn.outer {
  z-index: 40;
}

.triangle-wrap .turn.inner,
.triangle-wrap:hover .turn.outer {
  z-index: -1;
}

.triangle-top-left,
.triangle-top-right {
  transition: all linear 1s;
}

.triangle-wrap:hover .triangle-top-left.turn {
  transform: rotate3d(1, -1, 0, -180deg);
}

.triangle-wrap:hover .triangle-top-right.turn {
  transform: rotate3d(-1, 1, 0, 180deg);
}

.top-left .inner .categories {
  transform: rotate3d(1, -1, 0, 180deg);
}

.top-right .inner .categories {
  transform: rotate3d(0, 0, 1, 90deg);
}

.top-right .static .categories {
  transform: rotateY(-180deg);
}

.dark-mode svg {
  fill: rgb(218, 218, 218);
}

.light-mode svg {
  fill: black;
}

.categories {
  width: 100%;
  height: 100%;
  padding: 5%;

  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 10%;
}

.categories svg,
.categories span {
  width: 50px;
  height: 50px;
  cursor: pointer;
}

.dark-mode .categories .svg-container:hover svg,
.dark-mode .categories .hover svg {
  fill: black;
}

.light-mode .categories .svg-container:hover svg,
.light-mode .categories .hover svg {
  fill: white;
}

.categories .activated {
  fill: gold;
}

.categories .theme-selector {
  border: 2px solid black;
  width: 50px;
  height: 50px;
}

.categories .theme-selector:hover,
.categories .hover-fill {
  border: 2px solid gold;
}

/* HEX STUFF */

.hexatile {
  grid-template-columns: repeat(10, 0.6fr);
  grid-template-rows: repeat(6, 1fr);
  grid-column-gap: 2px;
  grid-row-gap: 2px;
  justify-content: center;
  align-content: center;
  padding: 20px;
  margin-top: -120px;
}

.hexatile {
  grid-template-columns: repeat(10, 0.6fr);
  grid-template-rows: repeat(6, 1fr);
  grid-column-gap: 2px;
  grid-row-gap: 2px;
  justify-content: center;
  align-content: center;
  padding: 20px;
  margin-top: -120px;
}

.hexatile-single {
  grid-template-columns: repeat(1, 1fr);
  grid-template-rows: repeat(1, 1fr);
  grid-column-gap: 2px;
  grid-row-gap: 2px;
  justify-content: center;
  align-content: center;
  padding: 20px;
  margin-top: -120px;
}

.hexagon {
  width: 200px;
  height: 200px;
  aspect-ratio: 1 / cos(30deg);
  clip-path: polygon(50% -50%, 100% 50%, 50% 150%, 0 50%);
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 0.5s, color 0.5s, transform 1s;
  text-align: center;
}

.hexagon-big {
  width: 300px;
  height: 300px;
}

.hw-pop .hexagon {
  cursor: pointer;
}

.hw-pop:hover .hexagon {
  transform: translateY(-20px);
  transition: background-color 0.25s, color 0.25s, transform 0.5s;
}

.dark-mode .hw-pop:hover .hexagon {
  color: #5b2ead;
  background-color: #ffcb6a;
}

.light-mode .hw-pop:hover .hexagon {
  color: #4d1aac;
  background-color: #ffac13;
}

.hexagon-wrap .TITLE {
  filter: drop-shadow(
    calc(var(--small-shadow) / 2) var(--small-shadow) 1px
      rgba(255, 255, 255, 0.3)
  );
}

.hexagon-wrap .TITLE svg {
  width: 120px;
  max-height: 100px;
  transform: translateY(-10px);
}

.hexagon-wrap {
  filter: drop-shadow(
    calc(var(--small-shadow) / 2) var(--small-shadow) 1px rgb(34, 37, 43, 0.5)
  );
  /*transition: all 1s;*/
}

.hexagon span {
  font-size: 20px;
  font-weight: bold;
}

.hw-pop {
  transition: filter 1s;
  animation: fall 1s forwards;
}

.hw-pop:hover {
  z-index: 10;
  filter: drop-shadow(
    calc(var(--big-shadow) / 2) var(--big-shadow) 1px rgb(34, 37, 43, 0.3)
  );
  transition: filter 0.5s;
  animation: rise 0.5s forwards;
}

@keyframes rise {
  0% {
    z-index: 0;
  }

  100% {
    z-index: 10;
  }
}

@keyframes fall {
  0% {
    z-index: 10;
  }

  100% {
    z-index: 0;
  }
}

.hex-1 {
  grid-area: 2 / 1 / 4 / 5;
}
.hex-2 {
  grid-area: 4 / 1 / 6 / 5;
}
.hex-3 {
  grid-area: 1 / 4 / 3 / 8;
}
.hex-4 {
  grid-area: 3 / 4 / 5 / 8;
}
.hex-5 {
  grid-area: 5 / 4 / 7 / 8;
}
.hex-6 {
  grid-area: 2 / 7 / 4 / 11;
}
.hex-7 {
  grid-area: 4 / 7 / 6 / 11;
}

.light-mode .SUBLAY {
  border: double rgb(58, 42, 68, 0.5) 9px;
}

.dark-mode .SUBLAY {
  border: double rgba(216, 204, 224, 0.5) 9px;
}

#overlay .LINKS img {
  width: 30px;
  height: 30px;
}

.SCREENSHOT img {
  max-width: 90%;
  max-height: 50vh;
}

.dark-mode hr {
  border-color: white;
}

.light-mode hr {
  border-color: black;
}

.dark-mode a {
  color: rgb(6 182 212);
}

.light-mode a {
  color: rgb(6, 54, 212);
}

/* TABLETOP TAVERN STUFF */
#ol-ttt {
  font-family: "TabletopTavern", "Roboto", sans-serif;
}

/* BARKPUPS STUFF */
#ol-barkpups {
  font-family: "Barkpups", "Roboto", sans-serif;
}

/* OGAS STUFF */
#ol-ogas {
  font-family: "OGAS", "Roboto", sans-serif;
}

#ol-ogas .TITLE {
  font-family: "OGAS-TITLE", "Roboto", sans-serif;
  font-size: 35px;
}

#ol-ogas video {
  max-width: 85%;
}
